<div class="card-deck mt-4">
    <div class="card">
        <img src="{{ url_for('static', filename='images/feature1.jpg') }}" class="card-img-top" alt="Feature 1">
        <div class="card-body">
            <h5 class="card-title">Custom Font</h5>
            <p class="card-text">We use a font designed to improve readability for dyslexic readers.</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/feature2.jpg') }}" class="card-img-top" alt="Feature 2">
        <div class="card-body">
            <h5 class="card-title">Text-to-Speech</h5>
            <p class="card-text">Listen to the text read aloud to aid comprehension.</p>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/feature3.jpg') }}" class="card-img-top" alt="Feature 3">
        <div class="card-body">
            <h5 class="card-title">Reading Ruler</h5>
            <p class="card-text">Focus on one line at a time with our interactive reading ruler.</p>
        </div>
    </div>
</div>
